@use 'sass:math';

$padding-top: 18vh;
$img-height: 330px;
$font-size-text: 20px;
$font-size-download: 20px;
$font-size-h2: 35px;

.sectionAbout{
    padding-top: $padding-top;
    color:white;
    padding-bottom: 20px;
    .container-fluid{
        gap: 50px;
        padding-left: 4vw;
        .imageContainer{
            padding-top:30px;
            img{
                height: $img-height;
                border-radius: 20px;
            }
        }
        .sectionAbout--text{
            font-size: $font-size-text;
            line-height: 25px;
            text-align: left;
            padding-top: 30px;
        }
        .sectionAbout--text__download{
            border: 2px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 20px;
            width: 217px;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            a{
                text-decoration: none;
                color:white;
                font-weight: bold;
                font-size: $font-size-download;
                line-height: 25px;
            }
        }
    }
    h2{
        padding-left: 10vw;
        text-align: left;
        font-weight: bold;
        font-size: $font-size-h2;
        line-height: 44px;
    }
}

@media (max-width: 600px) {
    .sectionAbout{
        padding-top: math.div($padding-top,2);
        .container-fluid{
            .imageContainer{
                img{
                    height: math.div($img-height,1.2);
                }
            }
            .textContainer{
                padding-bottom: 30px;
            }
            .sectionAbout--text{
                font-size: math.div($font-size-text,1.2);
                padding-left:20px;
            }
            .sectionAbout--text__download{
                a{
                    font-size: math.div($font-size-download,1.2);
                }
            }
        }
        h2{
            font-size: math.div($font-size-h2,1.2);
        }
    }
}

@media (min-width:601px) and (max-width: 1100px) {
    .sectionAbout{
        padding-top: math.div($padding-top,2);
        .container-fluid{
            .imageContainer{
                img{
                    height: math.div($img-height,1.2);
                }
            }
            .textContainer{
                padding-bottom: 30px;
            }
            .sectionAbout--text{
                font-size: math.div($font-size-text,1.2);
                margin: 0 !important;
            }
        }
    }
}