@use 'sass:math';

$font-size-h2: 35px;
$font-size-h3: 30px;
$font-size-li: 21px;

.sectionSkills{
    text-align: left;
    padding: 0 10vw 10vw 10vw;
    background-color: #F8FBFE;
    position:relative;
    overflow-x: clip;
    img{
        position:absolute;
        left: 42%;
        top: 70.5%
    }
    h2{
        font-weight: bold;
        font-size: $font-size-h2;
        line-height: 44px;
    }
    h3{
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        color: #537895;
        margin: 70px 0 40px 0;
    }
    li{
        font-weight: 300;
        font-size: $font-size-li;
        line-height: 26px;
        margin:20px;
    }
    ul{
        list-style-image: url('../../assets/skills/list.png');
    }
    .sectionSkills--technologies{
        ul{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    .sectionSkills--languages ul, .sectionSkills--aptitudes ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 68%;
    }
}

@media (max-width:600px) {
    .sectionSkills{
        padding: 0 5vw 10vw 5vw;
        img{
            width:80%;
            left: 42%;
            top: 91.3%
        }
        h2{
            font-size: math.div($font-size-h2, 1.2);
        }
        h3{
            font-size: math.div($font-size-h3, 1.2);
        }
        li{
            font-size: math.div($font-size-li, 1.2);
        }
        .sectionSkills--technologies{
            ul{
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}