.App {
  text-align: center;
  .backgroundBlue {
    padding-top: 18vh;
    background: linear-gradient(180deg, #537895 0%, #09203f 100%);
    .backgroundImage {
      background-image: url("./assets/background-home.png");
      background-repeat: no-repeat;
      background-position-x: 54vw;
      background-position-y: 4vh;
    }
  }
}

@media (max-width: 600px) {
  .App {
    .backgroundBlue {
      .backgroundImage {
        background-size: contain;
      }
    }
  }
}
